{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<!-- CSS
  ================================================== -->
<script type="text/javascript">
    window.JSContext = {{ JSContext | safe}};
</script>
</head>
<body>
    {% comment %}
    <video id="video_exercise_{{ exercise_id }}" muted autoplay="" loop="" poster="true" width="480" height="360">
            <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_mp4/small_{{ video_id }}.mp4" type="video/mp4" class="mp4source">
            <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_webm/small_{{ video_id }}.webmsd.webm" type="video/webm" class="webmsource">
        </video>
    {% endcomment %}
	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
</body>
</html>
