{% load staticfiles %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

    <!-- main start -->
    <!-- ================ -->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title">Features</h1>
                    <div class="separator"></div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                <i class="fa fa-leaf"></i>
                                <h2>Clean Design and Code</h2>
                                <p>Voluptatem ad provident non <a href="#">repudiandae</a> veritatis beatae cupiditate amet reiciendis.</p>
                                <a href="page-services.html" class="btn-default btn">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                <i class="fa fa-laptop"></i>
                                <h2>Very Flexible</h2>
                                <p>Iure sequi unde hic. Sapiente quaerat labore sequi inventore veritatis cumque.</p>
                                <a href="page-services.html" class="btn-default btn">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                <i class="fa fa-sitemap"></i>
                                <h2>Latest Technologies</h2>
                                <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi! Eum est.</p>
                                <a href="page-services.html" class="btn-default btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main end -->

</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">About Us</h1>
                <div class="separator"></div>
                <p class="lead text-center">Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam incidunt ut laboriosam.</p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">iDea - Responsive Website Theme</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/section-image-2.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <p>Quo soluta provident, quod reiciendis. Dolores nam totam aut illum ex ratione harum molestias maxime minima tempore, possimus, laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <p>Esse sequi veniam, assumenda voluptate necessitatibus ipsa dicta vero, minima natus cum cupiditate magnam et placeat quo adipisci.</p>
                        <a href="page-about.html" class="btn btn-white">Learn More</a>
                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group panel-dark" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="fa fa-bold"></i>Bootstrap Based
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                            <i class="fa fa-leaf"></i>Clean &amp; powerful code
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                            <i class="fa fa-html5"></i>HTML5/CSS3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Clean &amp; Powerful Bootstrap Theme</h1>
                    <p class="text-center">Sed ut Perspiciatis Unde Omnis Iste Sed ut sit  voluptatem accusan tium </p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="#" class="btn btn-default btn-lg">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">Why Choose iDea</h1>
                <div class="separator"></div>
                <p class="lead text-center">Lorem ipsum dolor sit amet. Maiores, odio ut deleniti doloremque ad at praesentium<br> laudantium molestias similique. Quisquam incidunt ut laboriosam.</p>

                <!-- Tabs start -->
                <!-- ================ -->
                <div class="vertical hc-tabs">

                    <!-- Tabs Top -->
                    <div class="hc-tabs-top">
                        <img data-tab="#tab1" src="{% static 'images/section-image-1.png' %}" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
                        <img data-tab="#tab2" src="{% static 'images/section-image-2.png' %}" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
                        <img data-tab="#tab3" src="{% static 'images/section-image-3.png' %}" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
                        <img data-tab="#tab4" src="{% static 'images/section-image-4.png' %}" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
                        <div class="space"></div>
                    </div>

                    <!-- Tabs Arrow -->
                    <div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa fa-magic pr-10"></i> Very Flexible</a></li>
                        <li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10"></i> Top Notch 24/7 Support</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-expand pr-10"></i> 100% Responsive</a></li>
                        <li><a href="#tab4" role="tab" data-toggle="tab"><i class="fa fa-file-o pr-10"></i> Well Documented</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <h1 class="text-center title">Very Flexible</h1>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-icons">
                                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                    <a href="page-services.html" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <h1 class="text-center title">Top Notch 24/7 Support</h1>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-icons">
                                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>Dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                    <p>Expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                    <a href="page-services.html" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <h1 class="text-center title">100% Responsive</h1>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-icons">
                                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>Ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                    <p>Tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                    <a href="page-services.html" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab4">
                            <h1 class="text-center title">Well Documented</h1>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-icons">
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>Sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                    <p>Modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                    <a href="page-services.html" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tabs end -->

            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="owl-carousel content-slider">
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Just Perfect!</h2>
                        <div class="testimonial-image">
                            <img src="{% static 'images/testimonial-1.jpg' %}" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Wow amazing!</h2>
                        <div class="testimonial-image">
                            <img src="{% static 'images/testimonial-2.jpg' %}" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus minima.</p>
                            <div class="testimonial-info-1">- John Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Thanks!</h2>
                        <div class="testimonial-image">
                            <img src="{% static 'images/testimonial-3.jpg' %}" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform fully tested expertise with competitive technologies ac laoreet turpis augue a justo.</p>
                            <div class="testimonial-info-1">- John Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Our Work</h2>
                <div class="separator-2"></div>
                <p>Sed ut Perspiciatis Unde Omnis Iste Sed ut sit  voluptatem accusan tium </p>
                <div class="owl-carousel carousel">
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-1.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-1.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-2.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-2.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-3.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-3.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-4.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-4.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-5.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-5.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-6.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-6.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-7.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-7.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="{% static 'images/portfolio-8.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    <a href="javascript:void(0);"><i class="fa fa-link"></i></a>
                                    <a href="{% static 'images/portfolio-8.jpg' %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title"><a href="javascript:void(0);">Project Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                            <a href="javascript:void(0);" class="link"><span>Read More</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg text-muted footer-top clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="owl-carousel clients">
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-1.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-2.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-3.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-4.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-5.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-6.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-7.png' %}" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="{% static 'images/client-8.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <blockquote class="inline">
                    <p class="margin-clear">Design is not just what it looks like and feels like. Design is how it works.</p>
                    <footer><cite title="Source Title">Steve Jobs </cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
