{% load staticfiles %}

<footer id="footer">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-content">
                        <div class="logo-footer">
                            <img id="logo" style="width: 100px;" src="{% static 'images/exercise_lib_logo.png' %}" alt="Exercise Library">
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
<p>Exercise Library was built to act as the best exercise reference on the web.</p>
                                <ul class="social-links circle">
                                    <li class="facebook"><a target="_blank" href="http://www.facebook.com/blackboxtrainer"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-icons">
                                    <li><i class="fa fa-envelope-o pr-10"></i>
                                        <a href="mailto:support@workoutgenerator.net">E-Mail Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="page-about.html" class="link"><span>Read More</span></a>
                    </div>
                </div>
                <div class="space-bottom hidden-lg hidden-xs"></div>
                <div class="col-sm-6 col-md-2">
                    <div class="footer-content" style="display: none;">
                        <h2>Links</h2>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="index.html">Home</a></li>
                                <li class="active"><a href="blog-right-sidebar.html">Blog</a></li>
                                <li><a href="portfolio-3col.html">Portfolio</a></li>
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1">
                    <div class="footer-content" style="display: none;">
                        <h2>Latest Projects</h2>
                        <div class="gallery row">
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-1.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-2.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-3.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-4.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-5.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-6.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-7.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-8.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-item col-xs-4">
                                <div class="overlay-container">
                                    <img src="{% static 'images/gallery-9.jpg' %}" alt="">
                                    <a href="javascript:void(0);" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-bottom hidden-lg hidden-xs"></div>
        </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2015 <a target="_blank" href="http://www.blackboxtrainer.com/" rel="nofollow">BlackBox Trainer</a>. All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-2" style="display: none;">
                            <ul class="nav navbar-nav" style="display: none;">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="blog-right-sidebar.html">Blog</a></li>
                                <li><a href="portfolio-3col.html">Portfolio</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>
<!-- footer end -->
