{% load staticfiles %}

<header class="header fixed clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html"><img id="logo" src="{% static 'images/logo_red.png' %}" alt="iDea"></a>
                    </div>

                    <!-- name-and-slogan -->
                    <div class="site-slogan">
                        Clean &amp; Powerful Bootstrap Theme
                    </div>

                </div>
                <!-- header-left end -->

            </div>
            <div class="col-md-9">

                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">

                    <!-- main-navigation start -->
                    <!-- ================ -->
                    <div class="main-navigation animated">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-left">


                                        <!-- SBL START -->
                                        <li class="dropdown" style="">
                                            <a href="portfolio-3col.html" class="dropdown-toggle" data-toggle="dropdown">Find By Body Part</a>
                                            <ul class="dropdown-menu">

                                                {% for top_level_muscle, muscle_dict in muscle_tree.items %}
                                                    <li class="dropdown" style="">
                                                        <a href="portfolio-3col.html" class="dropdown-toggle" data-toggle="dropdown">{{ top_level_muscle }}</a>
                                                        <ul class="dropdown-menu">
                                                            {% for low_level_muscle, muscle_list in muscle_dict.items %}
                                                            <li class="dropdown">
                                                                <a href="portfolio-3col.html" class="dropdown-toggle" data-toggle="dropdown">{{ low_level_muscle }}</a>
                                                                <ul class="dropdown-menu">
                                                                    {% for individual_muscle in muscle_list %}
                                                                        <li><a href="portfolio-3col.html">{{ individual_muscle }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>
                                        <li class="dropdown ">
                                            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                            <ul class="dropdown-menu">
                                                <li class="active"><a href="index.html">Home - Default</a></li>
                                                <li><a href="index-no-slideshow.html">Home - Without Slider</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </nav>
                        <!-- navbar end -->

                    </div>
                    <!-- main-navigation end -->

                </div>
                <!-- header-right end -->

            </div>
        </div>
    </div>
</header>
<!-- header end -->
