
<section class="main-container gray-bg">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 search-area">
                    <center>
                        <input type="text" class="search-input typeahead" placeholder="Search for an exercise..." style="height: 50px; width: 500px; padding: 5px; max-width: 80%;"/>
                        <button class="search-button" type="button" style="height: 50px; width: 50px; cursor: pointer;">
                            <i class="fa fa-search"></i>
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

