dj-static==0.0.6
dj-database-url==0.3.0
django-toolbelt==0.0.1
gunicorn==19.0.0
psycopg2==2.5.3
static3==0.5.1
wsgiref==0.1.2

django-storages==1.1.8
boto>=2.31.0,<3.0.0
requests==2.4.1

richenum==1.0.5
Django==1.7
