<p>
The barbell bench press is likely the biggest of the ego lifts and commonly seen in any gym.  Most gym-goers bench press less efficiently than what is possible.
</p>

<p>
Also of note, the bench press is a powerlifting exercise as well as a bodybuilding exercise, so depending on whether you're trying to build strength or stimulate muscle growth, it's important to draw a distinction between the two since that will impact how you perform the lift.
</p>

<h2>From a bodybuilding/muscle growth perspective</h2>
<p>
The bench press is primarily a <strong>lower chest exercise</strong>, but it's easy to bring the triceps and shoulders into play. Presumably, you'll want to focus on stimulating your chest muscles before prematurely exhausting other muscles.
</p>
<p>
Also of note, a lot of weight can be used, so it's easy to focus on the weight more than properly stimulating the muscles.  To properly execute the lift:
</p>
<ul>
<li>Draw your shoulders and head back into the bench.</li>
<li>Throughout the lift your chest will be pushed forward and your shoulders pulled back</li>
<li>Your grip should be such during the lift when your upper arm is parallel to the ground, there should be a 90 degree angle with your forearm.</li>
<li>You will lower the bar basically even with your nipples.  </li>
<li>For muscle stimulation specifically to maximize muscle tension, you'll want to avoid bouncing the bar off your chest or resting the bar on your chest.  Lower the bar to touch your shirt but not your skin.</li>
<li>Move the bar back up by contracting your chest muscles with a conscious drive out, but not an explosion. You want to create a constant delivery of power throughout the lift.</li>
<li>Push out, up, and over your chest.  Do not allow for the natural tendency of the bar resting above your shoulders (this takes the tension off the chest and places them on the front deltoids).</li>
<li>Once lockout is reached, immediately restart a slow controlled descent.</li>
</ul>

<h2>From a powerlifting perspective</h2>
<ul>
<li>Form is crucial because of the technical complexity involved</li>
<li>Feet below the bench under your butt, shoulders and head drawn back into the bench</li>
<li>Controlled descent downward</li>
<li>Slight pause when the bar touches your chest, then explode upward</li>
<li>Trust the triceps so as not to isolate your chest and drive with your legs</li>
</ul>
