<p>
The deadlift is an effective all-over exercise that brings your legs, back, and core all in to play.  The most important thing to emphasize is lower back form and avoiding driving with your legs.
</p>
<p>
It can also be recognized as an ego lift where it's quite possible (and enjoyable) to lift heavy weights, but in doing so it can be easy to lose your form and nullify the benefits of the movement.  You'll be better served by using lighter weights as you master the form and build lower back and midsection strength. In doing so, you will be stronger over time.
</p>
<p>For setup:</p>
<ul>
<li>Stance just shoulder width apart</li>
<li>The choice is yours on grip, but it's typical to use an opposing grip</li>
<li>If you use an opposing grip, be sure to swap out left and right hands from set to set</li>
</ul>
<p>To execute the movement:</p>
<ul>
<li>The deadlift is <strong>not</strong> a two part movement (where legs are straightened then back is straightened)</li>
<li>The lift should be one fluid movement where the legs and the back drive together and your head leads the way</li>
<li>Execute with the usual setup of a core position, chest up, and lower back tight</li>
<li>As your start to drive, keep your back shape in tact</li>
<li>At the top of the movement, your legs are locked and your back is straight</li>
<li>Lower slowly and under control</li>
<li>When starting the next rep, do not bounce the weight off the floor.  Reset the lift and regain your position to execute the next repetition</li>
</ul>
<p>
There's no need to lean way back at the top of the movement.  This can put your lower back in a very strange position that can easily result in injury. If anything, this will take tension off or your back which is the target muscle for the movement.
</p>
<p>
If your back starts to round, you need to stop the set or you need to reduce the weights.  Continuing is both dangerous and counter-productive in the long run.
</p>
<p>
Finally, don't think about pulling the weight off the ground.  Thinking about the weight staying static and driving yourself through the floor.
</p>
