<p>
The dumbbell benchpress can be used as a variation to the barbell benchpress, and the same aspects for form can generally be applied:
</p>
<ul>
<li>Feet positioned under the bench</li>
<li>Shoulders and head drawn back into the bench</li>
<li>Avoid explosive movements for hypertrophy and muscle stimulation in particular</li>
</ul>
<p>
However, beyond exercise variation for the sake of it, an advantage to the dumbbell benchpress is that it allows for a greater range of motion.  With that in mind:
</p>
<ul>
<li>Expect to use far lighter weight than you're capable of pressing</li>
<li>Lower the dumbbells as far as you can (lower than you would for a barbell)</li>
<li>During the lock out of the movement, you can press outward (as opposed to touching the dumbbells together at the top) in order to maintain tension on your chest.</li>
</ul>
