<h2>Bench Press, smith machine, pronated grip, standard width</h2>
<p>
Set up: 
</p>
<ul>
    <li>Start position: lying on bench with arms extended, holding the bar.</li>
    <li>Breath in as you lower the weight.</li>
    <li>Exhale and squeeze the grips as you raise the weight.</li>
</ul>
<p>
Coaching Cues
</p>
<ul>
    <li>Keep shoulder blades retracted throughout the movement. Don’t round the shoulder at the top of the movement.</li>
    <li>Keep head neutral (don’t tuck your chin), brace your abs and squeeze your glutes as you raise the weight.</li>
    <li>Try to keep your neck and face relaxed.</li>
</ul>
<p>
Pro Tip
</p>
<ul>
    <li>Focus your total mind on your pecs doing the work. </li>
    <li>Imagine your pecs getting stronger with each rep.</li>
    <li>Count down your reps!</li>
</ul>
