{% load staticfiles %}

<script type="text/html" id="exercise-filter-view">
<!-- Tabs start -->
<!-- ================ -->
<div class="vertical hc-tabs">

    <!-- Tabs Top -->
    <div class="hc-tabs-top filter-top">
        <div class="row">
            <div class="col-md-12" style="padding: 30px; border-bottom: 1px solid #f1f1f1;">
                <div class="row">
                <% for(var i=0; i<equipments.length; i++) { %>
                    <div class="col-sm-3">
                        <input type="checkbox" id="equipment_<%= equipments[i].id %>" class="equipment-check" checked="checked">
                        <label class="cursor-pointer" for="equipment_<%= equipments[i].id %>">
                            <%= equipments[i].title %>
                        </label>
                    </div>
                <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 exercise-types" style="padding: 30px; border-bottom: 1px solid #f1f1f1;">
            <% for(var i=0; i<exerciseTypes.length; i++) { %>
                <div class="col-md-3" style="padding: 10px;">
                    <input type="checkbox" id="exercise-type_<%= exerciseTypes[i].id %>" class="exercise-type-check" checked="checked">
                    <label class="cursor-pointer" for="exercise-type_<%= exerciseTypes[i].id %>">
                        <%= exerciseTypes[i].title %>
                    </label>
                </div>
            <% } %>
            </div>
        </div>
        <div class="space"></div>
    </div>

    <!-- Tabs Arrow -->
    <div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <% for(var i=0; i<muscleGroups.length; i++) {%>
<li><a id="muscle_<%= muscleGroups[i].id %>" href="#tab3" role="tab" data-toggle="tab">
                <%= muscleGroups[i].title %>
            </a></li>
        <% } %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content" style="width: 100%;">
        <div class="tab-pane fade in active" id="tab1">
            <div class="tab-inner-content">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    <a href="javascript:void(0);" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- tabs end -->
</script>
<script type="text/html" id="exercise-list-view">
<h1 class="text-center title"><%= selectedMuscleName %></h1>
<div class="space"></div>
<div class="row">
    <div class="col-md-7">
        <% for (var i=0; i<exercises.length; i++) { %>
            <div class="col-md-6" style="margin-top: 10px;">
                <% var exercise = exercises[i]; %>
                <span id="exercise_<%= exercise.id %>" class="individual-exercise cursor-pointer">
                    <%= exercise.name %>
                </span>
            </div>
        <% } %>
    </div>
    <div class="col-md-5" style="border-left: 1px solid #999999;">
        <div class="exercise-placeholder">
        </div>
        <a href="https://itunes.apple.com/us/app/exercise-library/id982327127">
        <img src="{% static 'images/ios_ad.png' %}" alt="Exercise Library for iPhone" style="width: 80%; margin: auto;">
        <img src="{% static 'images/app_store.png' %}" alt="Exercise Library on the App Store" style="width: 80%; margin: auto;">
        </a>
    </div>
</div>

</script>

<script type="text/html" id="exercise-view">
<h4><%= exercise.name %></h4>
<video id="video_exercise_<%= exercise.id %>" muted autoplay="" loop="" style="width: 100%;">
<source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_mp4/small_<%= exercise.video_id %>.mp4" type="video/mp4" class="mp4source">
<source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_webm/small_<%= exercise.video_id %>.webmsd.webm" type="video/webm" class="webmsource">
</video>

{% if admin %}
    <center>
        <a href="javascript:void(0);" class="btn btn-default admin-edit">Edit</a>
    </center>
{% endif %}



<%= exercise.html_description %>
</script>
