<script type="text/html" id="exercise-filter-view">
<!-- Tabs start -->
<!-- ================ -->
<div class="vertical hc-tabs">

    <!-- Tabs Top -->
    <div class="hc-tabs-top">
        <img data-tab="#tab1" src="images/section-image-1.png" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
        <img data-tab="#tab2" src="images/section-image-2.png" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
        <img data-tab="#tab3" src="images/section-image-3.png" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
        <img data-tab="#tab4" src="images/section-image-4.png" alt="iDea" data-tab-animation-effect="fadeInRightSmall">
        <div class="space"></div>
    </div>

    <!-- Tabs Arrow -->
    <div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <% for(var i=0; i<muscleGroups.length; i++) {%>
            <li><a href="#tab3" role="tab" data-toggle="tab">
                <%= muscleGroups[i].title %>
            </a></li>
        <% } %>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <h1 class="text-center title">Very Flexible</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    <a href="page-services.html" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2">
            <h1 class="text-center title">Top Notch 24/7 Support</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    <a href="page-services.html" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3">
            <h1 class="text-center title">100% Responsive</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    <a href="page-services.html" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab4">
            <h1 class="text-center title">Well Documented</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Vitae magnam commodi repellendus</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    <a href="page-services.html" class="btn btn-default">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tabs end -->
</script>
